services:
  feedaka:
    build:
      context: .
    volumes:
      - ./data/feedaka.db:/app/data/feedaka.db
    ports:
      - '127.0.0.1:8002:8080'
    environment:
      TZ: Asia/Tokyo
    env_file:
      - .env
    restart: always
